<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Resultados da Correção</title>
</head>
<body>
    <header>
        <h1>Resultados da Correção</h1>
    </header>
    <main>
        <div>
            <h2>Redação: </h2>
            <textarea id="redacao" name="redacao" rows="16" cols="80" readonly>{{redacao}}</textarea> 
            
            <div id="resultadoDiv">
                <div id="barraprogressoDiv" style="width: {{resultado}}%">
                    <h2>Nota: {{ resultado }}/100</h2> 
                </div>            
            </div>
            
            <br>
            <a href="/">Voltar</a>
        </div>    
    </main>
    <footer>
        <p>&copy; 2023 Corretora de Redações. Todos os direitos reservados.</p>
    </footer>
</body>